<%- include('partials/header');  -%> 

<%- include('./partials/messages'); -%>

  <main>
    <div class="container mt-5">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Price</th>
            <th>Operations</th>
          </tr>
        </thead>
          <%if(currentUser){ %>
        <tbody>
            <% oneProduct.forEach((product) =>{ %>
            <tr>
              <th scope="row"><%= product.code %></th>
              <td><%= product.descriptionProduct %></td>
              <td><%= product.price %></td>
              <td>
                <a class="btn btn-primary" href="/edit/<%= product.id %>">Edit</a>
                <form style="display: inline;" action="/delete/<%= product.id %>?_method=DELETE" method="POST">
                  <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                </form>
              </td>
            </tr>
            <% }) %> 
        </tbody>
          <% } %> 
      </table>
    </div>